# =========================
# Node.js
# =========================
node_modules/

# =========================
# Playwright
# =========================
playwright-report/
test-results/
playwright/.cache/

# =========================
# Java / Maven (Karate)
# =========================
target/
*.class

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Environment variables
# =========================
.env

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Coverage / reports future use
# =========================
coverage/